.flotante{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.651);
    color: white;
    overflow: hidden;
    position: absolute;
    border: 2px solid white;
    width: 400px;
    height: 500px;
    z-index: 80;
    transform: translate(50%, 30%);
    right: 50%;
    border-radius: 300px 300px 10px 10px;
        button{
            background-color: antiquewhite;
            border: none;
            border-radius: 2px;
            font-size: 12px;
            height: 50px;
            width: 250px;
        }
            a{
                text-decoration: none;
                color: black;
            }
            i{
                font-size: 45px;
            }
                p{
                    font-family: $letraBody;
                    font-size: 20px;
                }
}