$letraMain: rowdies, sans serif;
$letraBody: quicksand, sans serif;

/* h3{
    font-size: 35px;
    padding: 30px;
}
    form{
        border: none;
        list-style: none;
    }
        label{
            margin-bottom: 15px;
        }
        input{
            background-color: rgba(97, 94, 94, 0.726);
            color: white;
            border: 2px solid white;
            text-align: center;
            width: 200px;
            height: 50px;
        }
} */