.backgruondUno img{
    width: 100%;
    height: 800px;
    position: relative;
}

.backgruondDos{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
} 

.backgroundPedidos img{
    width: 100%;
    height: 600px;
    position: relative;
}
